<footer class="pt-30 pb-15 bg-navy" id="contact">
  <div class="container max-lg:px-6">
    <div class="footer-inner">
      <div class="top flex items-center justify-between max-lg:flex-col md:items-start max-lg:gap-12">
        <div class="left flex flex-col gap-6">
          <div class="company flex items-center gap-4">
            <div class="logo"><img src="/icons/wcg-logo.svg" alt="logo" class="h-14 w-auto" height="56" loading="lazy" decoding="async"></div>
            <h3 class="text-[20px] max-md:text-[22px] lg:text-[24px] text-white">Wine Collection Of Georgia</h3>
          </div>
          <p class="text-[14px] text-white">Celebrating Georgian wine and connecting the people behind it through festivals, professional dialogue and cultural exchange.</p>
        </div>
        <div class="right flex flex-col gap-4">
          <span class="text-[12px] uppercase text-gold font-bold">{{"FOOTER.INQUIRIES" | translate}}</span>
          <ul class="flex flex-col gap-3">
            <li class="text-white flex items-center gap-2"><fa-icon class="text-gold text-[14px]" [icon]="phoneIcon"></fa-icon> +995 500 05 23 31</li>
            <li class="text-white flex items-center gap-2"><fa-icon class="text-gold text-[14px]" [icon]="emailIcon"></fa-icon>Winecollectionofgeorgia@gmail.com</li>
          </ul>
        </div>
      </div>

      <div class="social flex items-center justify-center gap-6 mt-20">
        <a class="icon cursor-pointer w-9 h-9 rounded-full bg-slate flex items-center justify-center text-gold" [href]="instagramLink" target="_blank">
          <fa-icon [icon]="instagramIcon"></fa-icon>
        </a>
        <a class="icon cursor-pointer w-9 h-9 rounded-full bg-slate flex items-center justify-center text-gold" [href]="facebookLink" target="_blank">
          <fa-icon [icon]="facebookIcon"></fa-icon>
        </a>
      </div>

      <div class="line w-full h-0.25 my-8 bg-slate"></div>

      <p class="text-white text-[12px] max-lg:text-center">© 2026 {{"FOOTER.FAQ" | translate}}</p>
    </div>
  </div>
</footer>
