
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";
@import 'aos/dist/aos.css';

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("/fonts/NotoSansGeorgian-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("/fonts/NotoSansGeorgian-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("/fonts/NotoSansGeorgian-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("/fonts/NotoSansGeorgian-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-ka: "Noto Sans Georgian", sans-serif;;
  --font-en: "Playfair", serif;

  --color-navy: #0F2A4A;
  --color-gold: #C9A227;
  --color-slate: #1E3D5E;
  --color-muted-blue: #5F7495;
}

@layer base {
  :lang(en) {
    font-family: var(--font-en);
  }

  :lang(ka) {
    font-family: var(--font-ka);
  }
}

html{
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

button{
  border-radius: 4px;
  cursor: pointer;
}
